---
---

@import "minima";

.page-heading {
  font-weight: 700 !important;   /* 굵게 강제 적용 */
}

.feed-subscribe {
  display: none !important;
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 100px;
  left: 40px;
  font-size: 18px;
}

.sidebar h2 {
  margin-bottom: 10px;
  font-weight: 700;
}

.sidebar-info {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.sidebar-info li {
  margin-bottom: 8px;
}

.content-with-sidebar {
  margin-left: 350px;
}
