---
---

@import "minima";

.page-heading {
  font-weight: 700 !important;   /* 굵게 강제 적용 */
}

.feed-subscribe {
  display: none !important;
}

.site-title, 
.site-title:visited, 
.site-title a {
  font-weight: 700 !important;
}
.site-title {
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}
