---
layout: default
---

<div class="sidebar">
  <h2>{{ Kim Jian }}</h2>
  <p>{{ Taking One Dose of Curiosity Everyday }}</p>

  <ul class="sidebar-info">
    <li>📍 {{ HAFS }}</li>
    <li>✉️ {{ 022094@hafs.hs.kr }}</li>
  </ul>
</div>

<div class="content-with-sidebar">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
